*{
    padding: 0;
    margin: 0;
}


header{
  width: 100%;
  height:110px;
}

/*-- Container for home page --*/
.container{
  background-image: url("../images/rinaa.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto  ;
}

/* -- LOGO FOR THE WEBSITE --*/
.logo{
  float:left;
  width: 7%;
  padding-top: 1.5%;
  padding-left:2%;
}

.logo img{
  border-radius: 50%;
  width: 80px;
}

/* -- TOP NAVIGATION */
.ham{
  float: right;
  cursor: pointer;
}

/*Striping the ul of padding and list styling*/
nav {
  float: right;
}
nav ul {
	list-style-type:none;
}

/*Creating a horizontal list with spacing*/
nav li {
	display:inline-block;
	margin-right: 9px;
}

/*Menu Links styling*/
nav li a {
	display:block;
	min-width:140px;
	height: 50px;
  margin-right: 8px;
  margin-top: 25px;
	text-align: center;
	line-height: 50px;
  font-size:25px;
  font-weight: 900;
	font-family: 'Dosis', sans-serif;
	color: #fff;
	text-decoration: none;
}

.nav li a {
	color: #000;
}

/*-- Hover links styling --*/
nav li:hover a  {
	color: #1f8fd4;
}

/*-- Style Ham navigation and hide by default*/
.disp-nav {
  width: 35px;
  height: 5px;
  background-color: #1f8fd4;
  margin: 6px 5px;
	display: none;
  cursor: pointer;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*--Display nav when invisible checkbox is checked*/
input[type=checkbox]:checked ~ nav ul{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Making dropdown links show inline*/
	nav ul {
		position: static;
		display: none;
	}
	nav li {
		margin-bottom: 1px;
	}
	/*Displaying menus links in full width*/
	ul li, li a {
		width: 100%;
	}

  /*Show hamburger icon*/
	.disp-nav {
		display:block;
	}
}

/* Content for hero object in home page */
.section {
  padding: 16% 0;
}

.desc{
  padding-left: 50px;
  font-size: 38px;
  font-weight: 900;
  font-family: 'Dosis', sans-serif;
}

.bl{
  color: #1f8fd4;
}

#wh1{
  color: #fff;
}

#wh2{
  color: #fff;
  font-size: 60px;
}

/*  Styling form */
input[type=text], textarea {
  padding: 10px 18px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: content-box;
  width: 50%;
}



/* Styles Pages other than Index */
.rest{
padding-left:9%;
padding-right: 9%;
padding-top:2%;
}

/*Topic for content */
.topics{
  font-weight: 900;
  font-family:'Dosis', sans-serif;
}

.page_title {
  padding-bottom: 20px;
}

/*half border for page topic*/
.borders{
  border-bottom: 9px solid #1f8fd4;
}

/* -- Actual content styling for all pages --*/
.content{
  text-align: justify;
  padding-top: 20px;
  font-family: 'Varela Round', sans-serif;
  font-size: 17px;
}

h3 {
    font-family:'Dosis', sans-serif;
    font-size: 24px;
}
.content img{
  height: 290px;
  width: 245px;
  float: left;
  padding-right: 1%;
  position: relative;
}

/* styling buttons */
button, #button{
  padding: 14px 30px;
  color: white;
  background-color: #1f8fd4;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  margin: 3px 1px;
  font-family: 'Varela Round', sans-serif;
  border: none;
  box-shadow: 8px 8px 4px black;
}

/*Animation for bars that shows skills in bio page */
.bio_trans1{
-webkit-animation: htmlskill 9s; /* For Safari 3.1 to 6.0 */
animation: htmlskill 9s;
}

.bio_trans2{
  -webkit-animation: cssskill 9s; /* For Safari 3.1 to 6.0 */
  animation: cssskill 9s;
}

.bio_trans3{
  -webkit-animation: psskill 9s; /* For Safari 3.1 to 6.0 */
  animation: psskill 9s;
}

.bio_content{
  width: 10px;
  height: 30px;
  padding-right: 5%;
  padding-top: 5px;
  padding-left: 3px;
  background: #1f8fd4;
  position: relative;
}



/* Standard code */
@keyframes htmlskill {

    100% {width: 200px;}

}

/* Code for Safari */
@-webkit-keyframes htmlskill {
    100% {width: 200px;}
}

/* Standard code */
@keyframes cssskill {

    100% {width: 300px;}

}

/* Code for Safari */
@-webkit-keyframes cssskill {
    100% {width: 300px;}
}

/* Standard code */
@keyframes psskill {

    100% {width: 150px;}

}

/* Code  for Safari */
@-webkit-keyframes psskill {
    100% {width: 150px;}
}

/*Table Properties*/
table {
    width:100%;

}
table, td {
	border: 1.5px solid gray;
  border-collapse: collapse;
}

td {
    padding: 6px;
    text-align: left;
	   width: 23%;
}
table tr:nth-child(even) {
    background-color: #eee;
}

/* -- Footer Layout of the page -- */
footer{
  background-color: #1f8fd4;
  font-family: 'Dosis', sans-serif;
  color: white;
}

footer a{
  text-decoration: none;
  color: white;
}

footer li:hover a  {
	color: blue;
}

.foot{
padding: 0.5% 0;
width: 100%;
display: flex;
flex-direction: row;
}

.foot-1, .foot-2, .foot-3 {
  width: 33%;
  padding-left: 3%;
  margin-bottom: 2%;
}



.foot-3{
  margin: 0 0;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 28px;
  padding-left: 2%;
  border-left: 1px solid white;

}

footer ul li {
    list-style-type: none;
}


footer ul li img{
  height:18px;
  width:18px;
  padding-top: 30px;
}


.foot-3 ul li img{
  height:16px;
  width:30px;
  padding-top: 30px;
}

.last-foot{
  padding: 1% 1%;
  border-top: 2px solid white;
  text-align: center;
}

/* codes fore making page responsive */
@media (max-width: 1199px) and (min-width: 785px) {
  .section {
    padding: 10% 0;
  }
}


@media (max-width: 784px) and (min-width: 200px) {
  .foot {
    flex-flow: row wrap;
  }

  .foot-1, .foot-2 {
    width: 46%;
    text-align: center;

  }
  .foot-3 {
    width: 100%;
    text-align: center;
  }
  .container {
    padding: 0 0 5% 0;
  }
  .section {
    padding: 0;
  }

}
